@charset "CP852";
/* line 4, ../sass/mdyt.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
}

/* line 8, ../sass/mdyt.scss */
h1 {
  padding: 0px 0px 0px 0px;
  font-size: 25px;
  font-weight: 400;
}

/* line 13, ../sass/mdyt.scss */
h2 {
  padding: 20px 0px 20px 0px;
  font-size: 24px;
  font-weight: 100;
}

/* line 18, ../sass/mdyt.scss */
h3 {
  padding: 0px 0px 20px 0px;
  font-size: 24px;
  font-weight: 100;
}

/* line 23, ../sass/mdyt.scss */
h4 {
  padding: 0px 0px 20px 0px;
  font-size: 16px;
  font-weight: 100;
}

/* line 28, ../sass/mdyt.scss */
h5 {
  padding: 0px 0px 0px 0px;
  font-size: 16px;
  font-weight: 100;
}

/* line 34, ../sass/mdyt.scss */
body {
  background-color: #282828;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 120%;
}

/* line 40, ../sass/mdyt.scss */
section {
  width: 960px;
  display: inline-block;
  /*box-sizing: border-box;*/
  /*SUPER TECH, ALE PODPORA NAHOVNO :( */
  float: left;
  padding: 60px 20px 20px 20px;
}

/* line 48, ../sass/mdyt.scss */
#page {
  width: 960px;
  margin: 0 auto;
}

/* line 52, ../sass/mdyt.scss */
header {
  width: 960px;
  padding: 20px 20px 0px 20px;
  height: 40px;
  /*background-color: rgba(0, 0, 0, 0.0);*/
  background-color: #282828;
  /*background-color: transparent;*/
  position: fixed;
  z-index: 9001;
  /*hehe this will be fun */
}

/* line 62, ../sass/mdyt.scss */
#logo {
  float: left;
  color: #FFFFFF;
}

/* line 66, ../sass/mdyt.scss */
nav {
  float: right;
  padding-top: 4px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

/* line 72, ../sass/mdyt.scss */
nav ul {
  list-style: none;
}

/* line 75, ../sass/mdyt.scss */
nav ul li {
  float: left;
}

/* line 79, ../sass/mdyt.scss */
nav ul li a {
  display: block;
  margin-left: 40px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: #ede1e1;
}

/* line 88, ../sass/mdyt.scss */
nav ul li a:hover {
  color: #ff0000;
}

/* line 92, ../sass/mdyt.scss */
nav ul li.selected a {
  color: #00ff00;
}

/* line 96, ../sass/mdyt.scss */
#onas {
  background-color: #313131;
  color: #FFFFFF;
  padding: 60px 20px 80px 20px;
  margin-top: -30px;
}

/* line 102, ../sass/mdyt.scss */
.dvasloupce {
  column-count: 2;
  column-gap: 60px;
  -webkit-column-gap: 60px;
  -webkit-column-count: 2;
  text-align: justify;
}

/* line 109, ../sass/mdyt.scss */
.infobox {
  float: left;
  width: 50%;
  padding: 20px 0px 20px 0px;
}

/* line 114, ../sass/mdyt.scss */
.subinfobox {
  position: relative;
  padding: 0px 20px 20px 220px;
}

/* line 118, ../sass/mdyt.scss */
.subinfobox p {
  /*pozicovani odstavce textu v nabidce, idealni automaticky a zarovnat na spodek, ale problematický*/
  padding: 20px 0px 0px 0px;
  text-align: justify;
}

/* line 123, ../sass/mdyt.scss */
#nabidka {
  background-color: #ffffff;
  color: #313131;
  overflow: visible;
}

/* line 129, ../sass/mdyt.scss */
#nabidka img {
  float: left;
}

/* line 133, ../sass/mdyt.scss */
#galerie {
  color: #FFFFFF;
  background-color: #313131;
  height: 1000px;
}

/* line 138, ../sass/mdyt.scss */
.nadpisgalerie {
  position: relative;
  margin: 0px -20px 0px -20px;
  padding-top: 0px;
  height: 70px;
  text-align: center;
  background-color: #313131;
  color: #FFFFFF;
}

/* line 147, ../sass/mdyt.scss */
#obsahgalerie {
  position: relative;
  width: 960px;
  height: 960px;
  background-color: #FFFFFF;
  margin: 0px -20px 0px -20px;
  padding: 20px 20px 20px 20px;
  text-align: center;
  color: #313131;
}

/* line 157, ../sass/mdyt.scss */
.obrazek {
  width: 280px;
  height: 280px;
  float: left;
  margin: 20px 20px 20px 20px;
  background-repeat: no-repeat;
}

/* line 164, ../sass/mdyt.scss */
.picwrap {
  width: 100px;
  height: 100px;
  margin: 10px 10px 10px 10px;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 171, ../sass/mdyt.scss */
.galeryoverlay {
  min-height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.33);
  overflow: hidden;
  text-align: center;
}

/* line 178, ../sass/mdyt.scss */
.titlegalerie {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #282828;
  padding-top: 90px;
  margin: 0 auto;
}

/* line 185, ../sass/mdyt.scss */
#kontakt {
  width: 100%;
  text-align: center;
  background-color: #313131;
  color: #FFFFFF;
  height: 660px;
}

/* line 192, ../sass/mdyt.scss */
.kontaktniinformace {
  padding: 40px 20px 20px 20px;
  float: left;
}

/* line 196, ../sass/mdyt.scss */
.kontaktbox {
  width: 200px;
  height: 60px;
  padding-left: 100px;
  margin-bottom: 40px;
  background-position: left;
  text-align: left;
  background-repeat: no-repeat;
}

/* line 205, ../sass/mdyt.scss */
.kontaktbox p {
  margin-top: 10px;
}

/* line 208, ../sass/mdyt.scss */
#telefon {
  background-image: url("/img/icon_mobil.png");
}

/* line 211, ../sass/mdyt.scss */
#email {
  background-image: url("/img/icon_email.png");
}

/* line 214, ../sass/mdyt.scss */
#adresa {
  background-image: url("/img/icon_home.png");
}

/* line 217, ../sass/mdyt.scss */
#kontakt .formular {
  width: 50%;
  float: right;
  padding: 40px 20px 20px 20px;
}

/* line 222, ../sass/mdyt.scss */
#kontakt input {
  width: 90%;
  padding: 8px 8px 8px 8px;
  margin-bottom: 20px;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  color: #8c8c8c;
}

/* line 230, ../sass/mdyt.scss */
#velkevstupnipole {
  width: 90%;
  padding: 8px 8px 8px 8px;
  height: 200px;
  resize: vertical;
  margin-bottom: 20px;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  color: #8c8c8c;
}

/* line 240, ../sass/mdyt.scss */
#kontakt #odeslat {
  float: right;
  margin-right: 16px;
  width: 80px;
  background-color: #c7534d;
  color: #FFFFFF;
  border: none;
  font-style: normal;
  font-size: 16px;
}

/* line 250, ../sass/mdyt.scss */
#paticka {
  width: 100%;
  height: 160px;
}

/* line 254, ../sass/mdyt.scss */
a {
  font-family: 'Open Sans', sans-serif;
  color: #00FF00;
  /*lime*/
  text-decoration: none;
  margin: 0 auto;
}

/* line 260, ../sass/mdyt.scss */
.error {
  position: relative;
  font-size: 36px;
  color: red;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: 90000;
}
