$darkgrey: #282828;
$lightgrey: #313131; 

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
}
h1 {
    padding: 0px 0px 0px 0px;
    font-size: 25px;
    font-weight: 400;
}
h2 {
    padding: 20px 0px 20px 0px;
    font-size: 42px;
    font-weight: 100;
}
h3 {
    padding: 0px 0px 20px 0px;
    font-size: 24px;
    font-weight: 100;
}
h4 {
    padding: 0px 0px 20px 0px;
    font-size: 16px;
    font-weight: 100;
}
h5 {
    padding: 0px 0px 0px 0px;
    font-size: 16px;
    font-weight: 100;
}

body {
    background-color: $darkgrey;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 120%;
}
section {
    width: 960px;
    display: inline-block;
    /*box-sizing: border-box;*/ /*SUPER TECH, ALE PODPORA NAHOVNO :( */
    float: left;
    padding: 60px 20px 20px 20px;
}

#page {
    width: 960px;
    margin: 0 auto;
}
header {
    width: 960px;
    padding: 20px 20px 0px 20px;
    height: 40px;
    /*background-color: rgba(0, 0, 0, 0.0);*/
    background-color: $darkgrey;
    /*background-color: transparent;*/
    position: fixed;
    z-index: 9001; /*hehe this will be fun */
}
#logo {
    float: left;
    color: #FFFFFF;
}
nav {
    float: right;
    padding-top: 4px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
nav ul {
    list-style: none;
}
nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    margin-left: 40px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: #ede1e1;
}

nav ul li a:hover {
    color: #ff0000;
}

nav ul li.selected a {
    color: #00ff00;
}

#onas {
    background-color: $lightgrey;
    color: #FFFFFF;
    padding: 60px 20px 80px 20px;
    margin-top: 60px;
}
.dvasloupce {
    column-count: 2;
    column-gap: 60px;
    -webkit-column-gap: 60px;
    -webkit-column-count: 2;
    text-align: justify;
}
.infobox {
  float: left;
  width: 50%;
  padding: 20px 0px 20px 0px;
}
.subinfobox {
  position: relative;
  padding: 0px 20px 20px 220px;
}
.subinfobox p {
  /*pozicovani odstavce textu v nabidce, idealni automaticky a zarovnat na spodek, ale problematický*/
  padding: 20px 0px 0px 0px;
  text-align: justify
}
#nabidka {
    background-color: #ffffff;
    color: $lightgrey;
    overflow: visible;
}

#nabidka img {
    float: left;
}

#galerie {
    color: #FFFFFF;
    background-color: $lightgrey;
    height: 1000px;    
}
.nadpisgalerie {
  position: relative;
    margin: 0px -20px 0px -20px;
    padding-top: 0px;
    height: 70px;
    text-align: center;
    background-color: $lightgrey;
    color: #FFFFFF;
}
#obsahgalerie {
    position: relative;
    width: 960px;    
    height: 960px;
    background-color: #FFFFFF;
    margin: 0px -20px 0px -20px;
    padding: 20px 20px 20px 20px;
    text-align: center;
    color: $lightgrey;
}
.obrazek {
    width: 300px;
    height: 300px;
    float: left;
    margin: 10px 10px 10px 10px;
    background-repeat: no-repeat;
    background-size: cover;
}
.skrytyobrazek {
    display: none;
     visibility: hidden;
    width: 0px;
    height: 0px;
}
.thumbwrap{
    width: 130px;
    height: 130px;
    margin: 10px 10px;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;       
}
.thumboverlay{
     background-color: rgba(0, 0, 0, 0.33);
  overflow: hidden;
  text-align: right;
  padding: 6px 6px 6px 6px;
  font-size: 24px;
  color: red;
}
.galeryoverlay{
  min-height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  overflow: hidden;
  text-align: center;
}
.titlegalerie h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 32px;
    line-height: 1.5em;
    color: $darkgrey;
    padding-top: 90px;
    margin: 0 auto;    
}

#kontakt {
    width: 100%;
    text-align: center;
    background-color: $lightgrey;
    color: #FFFFFF;
    padding-bottom: 40px;
}
.kontaktniinformace {
    padding: 40px 20px 20px 20px;
    float: left;
}
.kontaktbox {
    width: 200px;
    height: 60px;
    padding-left: 100px;
    margin-bottom: 40px;
    background-position: left;
    text-align: left;
    background-repeat: no-repeat;
}
.kontaktbox p {
    margin-top: 10px;
}
#telefon {
    background-image: url("/img/icon_mobil.png");
}
#email {
    background-image: url("/img/icon_email.png");
}
#adresa {
    background-image: url("/img/icon_home.png");
}
#qrcode {
    position: relative;
    top: 42px;
    width: 250px;
    height: 250px;
    
    background-image: url("/img/qrcode.png");
    background-position: right center;
    background-size: contain;
}
#kontakt .formular {
    width: 50%;
    float: right;
    padding: 40px 20px 20px 20px;
}
#kontakt input {
    width: 90%;
    padding: 8px 8px 8px 8px;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    color: #8c8c8c;
}
#velkevstupnipole {
    width: 90%;
    padding: 8px 8px 8px 8px;
    height: 200px;
    resize: vertical;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    color: #8c8c8c;
}
#kontakt #odeslat {
    float: right;
    margin-right: 16px;
    width: 80px;
    background-color: #c7534d;
    color: #FFFFFF;
    border: none;
    font-style: normal;
    font-size: 16px;
}
#paticka {
    width: 100%;
    height: 96px;
    padding: 0px;
}
a{
    font-family: 'Open Sans', sans-serif;
    color: #00FF00; /*lime*/    
    text-decoration: none;    
    margin: 0 auto;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.error{
  position: relative;
  font-size: 36px;
  color: red;  
  width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: 9000;
}
